    <div class="box">
        <h1 class="logintxt">Keep Your Password A Secret!</h1>
        <form method="post">
            <div class="txt_field">
                <input type="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="new_password" required>
                <span></span>
                <label>New Password</label>
            </div>
            <div class="txt_field">
                <input type="confirm_new_password" required>
                <span></span>
                <label>Confirm New Password</label>
            </div>
            <div class="login_button">
                    <a (click)="ResetPassword()" routerLink="/login" routerLinkActive="active">Reset Password</a>   
            </div>
          
        </form>
    </div>