    <div class="box">
        <h1 class="logintxt">Sign In</h1>
        <form method="get" (ngLogin)="Login()">
            <div class="txt_field">
                <input type="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="forgotpass">
                <a routerLink="/reset_password" routerLinkActive="active">Forgot Password?</a>
            </div>
            <div class="login_button">
                    <button type="submit">Sign In</button>
                    <a routerLink="/display" routerLinkActive="active">Sign In</a >    
            </div>
          
            <div class="signup_link">
                Don't Have An Account? <a routerLink="/register_user" routerLinkActive="active">Sign Up</a>
            </div>
            <div class="guest_link">
                Don't want to sign up? <a routerLink="/proceed_as_guest" routerLinkActive="active">Proceed As Guest</a>
            </div>
        </form>
    </div>
