<body>
    <div class="container">
        <div class="main">
            <div class="topbar">
                <a routerLink="/login" routerLinkActive="active">Logout</a>
                <a routerLink="/edit_profile" routerLinkActive="active">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="profile-box">
        <h1>Profile</h1>
        <h4><div class="firstname">First Name:</div></h4>
        <h2>Jonathan</h2>
        <h4><div class="lastname">Last Name:</div></h4>
        <h2>Kim</h2>
        <h4><div class="address">Address:</div></h4>
        <h2>123 Street</h2>
        <h4><div class="email">Email:</div></h4>
        <h2>Jonathan241@revature.net</h2>
        <h4><div class="password">Password:</div></h4>
        <h2>abc</h2>
        <h4><div class="admin_privilege">Admin Privilege:</div></h4>
        <h2>No</h2><br>
        <h2><a routerLink="/view_previous_orders" routerLinkActive="active">View Previous Orders</a></h2>
    </div>