    <div class="box">
        <h1 class="logintxt">Type Information Below</h1>
        <form method="post" (ngRegisterUser)="RegisterUser()">
            <div class="txt_field">
                <input type="first_name" required>
                <span></span>
                <label>First Name</label>
            </div>
            <div class="txt_field">
                <input type="last_name" required>
                <span></span>
                <label>Last Name</label>
            </div>
            <div class="txt_field">
                <input type="Address" required>
                <span></span>
                <label>Address</label>
            </div>
            <div class="txt_field">
                <input type="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="login_button">
                    <button type="submit">Sign Up!</button>
                    <!-- <a routerLink="/display" routerLinkActive="active">Sign Up!</a>     -->
            </div>
          
        </form>
    </div>