<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="display-all-products.component.css"/>
        <script src ="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="topbar">
            <a routerLink="/login" routerLinkActive="active">Logout</a>
            <a routerLink="/create_user_profile" routerLinkActive="active">Profile</a>
        </div>
        <div class = "products">
            <div class = "container">
                <h1 class = "lg-title"> Special dyes for something special</h1>
                <p class = "text-light"> Award-winning, eye-popping colors.</p>
                
                <div class = "product-items">
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/teal" routerLinkActive="active"><img src="Images/TealDye.jpg"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                </div>
                            </div>
                            <a class = "product-name">Teal Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>

                        <div class = "off-info">
                            <h2 class = "sm-title">25% off</h2>
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/red" routerLinkActive="active"><img src="Images/RedDye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Red Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/orange" routerLinkActive="active"><img src="Images/OrangeDye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Orange Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/green" routerLinkActive="active"><img src="Images/GreenDye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Green Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/purple" routerLinkActive="active"><img src="Images/PurpleDye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Purple Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/pink" routerLinkActive="active"><img src="Images/PinkDye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Pink Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/yellow" routerLinkActive="active"><img src="Images/Yellow Dye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Yellow Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                    <!--start of product-->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <a routerLink="/black" routerLinkActive="active"><img src="Images/BlackDye.jpg" alt= "product image"></a>
                            </div>
                            <!-- <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> add to cart
                                    <span><i class ="fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div> -->
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class = "product-name">Black Dye</a>
                            <p class = "product-price">$ 15.00</p>
                            <p class = "product-price">$ 10.00</p>  
                        </div>
                    </div>
                    <!--end of product-->
                     
                </div>
            </div>
        </div>
    </body>
</html>
    <!--<button type="userprofilebutton"><a href="http://127.0.0.1:5500/HTML-CSS/UserProfile.html" target="_self">User Profile</a></button>-->
    <!--<button type="mycartbutton"><a href="http://127.0.0.1:5500/HTML-CSS/Cart.html" target="_blank">Finish adding to cart</a></button>-->
