<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel = "stylesheet" href="edit-profile.component.css"/>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="topbar">
                <a routerLink="/login" routerLinkActive="active">Logout</a>
                <a routerLink="/edit_profile" routerLinkActive="active">Edit Profile</a>
            </div>
        </div>
    </div>
    <form method="post">
    <div class="profile-box">
        <h1>Profile</h1>
        <h4><div class="firstname">
            <input type="first_name" required>
            <span></span>
            <label>First Name</label></div></h4>
        <h2></h2>
        <h4><div class="lastname">
            <input type="last_name" required>
            <span></span>
            <label>Last Name</label></div></h4>
        <h2></h2>
        <h4><div class="address">
            <input type="Address" required>
            <span></span>
            <label>Address</label></div></h4>
        <h2></h2>
        <h4><div class="email">
            <input type="email" required>
            <span></span>
            <label>Email</label></div></h4>
        <h2></h2>
        <h4><div class="password">
            <input type="password" required>
            <span></span>
            <label>Password</label></div></h4>
        <h2></h2>
        <h4><div class="admin_privilege">Admin Privilege:</div></h4>
        <h2></h2><br>
        <h2><a (click)="EditProfile()" routerLink="/create_user_profile" routerLinkActive="active">Confirm Changes</a></h2>
    </div>
    </form>
  
</body>
</html>