<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Orders Page</title>
    <link rel = "stylesheet" href="view-previous-orders.component.css"/>
</head>
<h1>My Orders</h1>
<body>
    <div class="small-container cart-page">
        <table>
            <tr>
                <th></th>
                <th>Order ID</th>
                <th>Cart ID</th>
                <th>Email</th>
                <th>Product Name</th>
                <th>Order Amount</th>
                <th>Order Date</th>
                <th>Subtotal</th>
            </tr>
            <!--Beginning of product-->
            <tr>
                <td><div class="cart-info">
                    <img src="/AngularLayer/src/app/Models/Images/TealDye.jpg">
                   
                </div></td>
                <td>153</td>
                <td>167</td>
                <td>Jonathan241@revature.net</td>
                <td>Teal Dye</td>
                <td>2</td>
                <td>2022-09-14</td>
                <td>$20.00</td>
            </tr>
            <!--End of product-->
            <!--Beginning of product-->
            <tr>
                <td><div class="cart-info">
                    <img src="/AngularLayer/src/app/Models/Images/BlackDye.jpg">
                   
                </div></td>
                <td>154</td>
                <td>168</td>
                <td>Jonathan241@revature.net</td>
                <td>Black Dye</td>
                <td>3</td>
                <td>2022-09-15</td>
                <td>$30.00</td>
            </tr>
            <!--End of product-->
        </table>

        <div class="return-to-profile">
            <a routerLink="/create user profile" routerLinkActive="active">Return To Profile</a>   
        </div>
    </div>
</body> 
</html>



